*{
  font-family: 'Unica One', cursive;
  font-weight: normal;
}

body{
  margin : 0;
  padding : 0;
}


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FAF7F7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.navbar img{
  width : 91px;
  padding: 8px;
}


.right_side{
  display: flex;
  align-items: center;
  padding-right : 64px;
}

.right_side a{
  padding: 8px;
  border-right: 1px solid black;
  margin-right: 8px;
  font-size: 18px;
  color : black;
  text-decoration: none;

}

.right_side p{
  margin-right: 8px;
  font-size: 18px;
}

.right_side i{
  padding : 16px;
  margin-left: 32px;
  color : #94A3B1;
  border-radius: 50%;
  background: #DAE3EA;
}


.dashbord{
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-gap: 32px;
}

#arrow{
  cursor: pointer;
}

.sidebar{
  height : 93vh;
  background: linear-gradient(180deg, #D03AF4 0%, rgba(90, 193, 226, 0.9) 100%);
  border-radius: 10px;
  color : #F2F2F2;
  padding: 16px;
}

.sidebar a{
  color: #F2F2F2;
  text-decoration:  none;
  line-height: 19px;
letter-spacing: 5.15px;

}

.title{
  border-bottom: 1px solid white;
}

.title h2{
  font-weight: normal;
  margin-bottom: 4px;
}

.userProfile{
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSide {
  display: flex;
  align-items: center;
}

.leftSide i{
  margin-right: 8px;
}

.rightSide i.active{
  transform: rotate(180deg);
  transition: 0.5s;
}

.userProfile_drop,.sets,.indiSet{
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease-out;
}

.userProfile_drop div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}

.userProfile_drop div i{
  margin-right: 8px;
}


.fa-wrench{
  transform: rotate(-90deg);
}


.upload, .documents{
  display: flex;
  align-items: center;
  padding: 8px;
}

.upload {
  width: 150px;
}

.upload i{
  transform: rotate(180deg);
}

.upload i, .documents i{
  margin-right: 8px;
}


.documents{
  width : 150px;
}

div.active{
  background: white;
  color : black;
  border-radius: 10px;
}

div.active i{
  color : #6d7d8B;
}

div.active a{
  color : black;
  opacity: 0.8;
}


.dashboard_content{
  padding: 0 64px;
}


.ttable{
  margin-top: 64px;
  /* margin-left: 64px; */
}

table {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  width: 100%;
  height: 647px;
  align-items: flex-start;
  padding: 0px;

}

td, th {
/* border: 1px solid #dd; */
font-family: 'Nunito Sans', sans-serif;
font-style: normal;
font-weight: normal;
text-align: center;
font-size: 14px;
line-height: 115%;
letter-spacing:0.01em;
margin-top: -1px;

}

thead th{
  padding: 16px!important;
}
.header{
background-color: #05111A;
color: white;
}
tr:nth-child(even) {
background-color: #F9FAFC;
}
