*{
  font-family: 'Unica One', cursive;
  font-weight: normal;
}

body{
  margin : 0;
  padding : 0;
}


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FAF7F7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.navbar img{
  width : 91px;
  padding: 8px;
}


.right_side{
  display: flex;
  align-items: center;
  padding-right : 64px;
}

.right_side a{
  padding: 8px;
  border-right: 1px solid black;
  margin-right: 8px;
  font-size: 18px;
  color : black;
  text-decoration: none;

}

.right_side p{
  margin-right: 8px;
  font-size: 18px;
}

.right_side i{
  padding : 16px;
  margin-left: 32px;
  color : #94A3B1;
  border-radius: 50%;
  background: #DAE3EA;
}


.dashbord{
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-gap: 32px;
}

#arrow{
  cursor: pointer;
}

.sidebar{
  height : 93vh;
  background: linear-gradient(180deg, #D03AF4 0%, rgba(90, 193, 226, 0.9) 100%);
  border-radius: 10px;
  color : #F2F2F2;
  padding: 16px;
}

.sidebar a{
  color: #F2F2F2;
  text-decoration:  none;
  line-height: 19px;
letter-spacing: 5.15px;

}

.title{
  border-bottom: 1px solid white;
}

.title h2{
  font-weight: normal;
  margin-bottom: 4px;
}

.userProfile{
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSide {
  display: flex;
  align-items: center;
}

.leftSide i{
  margin-right: 8px;
}

.rightSide i.active{
  transform: rotate(180deg);
  transition: 0.5s;
}

.userProfile_drop,.sets,.indiSet{
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease-out;
}

.userProfile_drop div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}

.userProfile_drop div i{
  margin-right: 8px;
}


.fa-wrench{
  transform: rotate(-90deg);
}


.upload, .documents{
  display: flex;
  align-items: center;
  padding: 8px;
}

.upload {
  width: 150px;
}

.upload i{
  transform: rotate(180deg);
}

.upload i, .documents i{
  margin-right: 8px;
}


.documents{
  width : 150px;
}

div.active{
  background: white;
  color : black;
  border-radius: 10px;
}

div.active i{
  color : #6d7d8B;
}

div.active a{
  color : black;
  opacity: 0.8;
}


.dashboard_content{
  padding: 0 64px;
}


.heading{
  font-size: 30px;
  text-decoration: underline;
  margin : 64px 0;
  max-width: 800px;
}

.folders{
  margin-top: 64px;
}

.folders p{
  font-size: 20px;
  line-height: 28px;
letter-spacing: 5.15px;
margin-bottom: 8px;
}

.folders i{
  font-size: 20px;
  color : #6D7D8B;
}

p.left{
  margin-left: 16px;
}

#arrow2.fa-chevron-down{
  margin-left: 128px;
  cursor: pointer;
  transition: 0.5s;
}

#arrow2.fa-chevron-down.active{
  transform: rotate(180deg);
  transition: 0.5s;
}

#arrow3{
  cursor: pointer;
}

#arrow3.active{
  transform: rotate(180deg);
  transition: 0.5s;
}

/* .sets {
  margin-left: 8px;
} */



.sets i{
  margin-left: 32px;
}


.indiSet p{
  margin-left: 16px;
}
