@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  margin : 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header__section{
  background: url('assets/BG.png');
  background-size: cover;
  background-position: center;
  padding-bottom: 128px;
}

.navigation{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  background: rgba(50, 125, 227 , 0.4);

}

.navigation .logo img{
  width: 175px;
}

.links {
  width: 30%;
}


.links ul{
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.links ul li {
  list-style: none;
}

.links ul li a{
  color : white;
  text-decoration: none;
}

.navigation .login , .navigation .inner_login{
  display: flex;
  align-items: center;
}

.navigation .links .dropdown{
  position: relative;
}

.navigation .links .dropdown__items{
  position: absolute;
  top: 32px;
  background: rgba(56,137,228 , 0.95);
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}


.navigation .links li:hover > .dropdown__items{
  opacity: 1;
  visibility: visible;
}

.navigation .links .dropdown__items{
  display: block;
  padding: 8px;
  background:

}

.navigation .links .dropdown__items li{
  margin-bottom: 8px;
  width: auto;
  min-width: 250px;
}

.inner_login{
  padding-left: 8px;
  border-left : 1px solid white;
}

.navigation .login a{
  display: inline-block;
  color:  white;
  font-weight: 500;
}

.navigation .demo {
  padding: 8px 16px;
  border-radius: 20px;
  border : 1px solid white;
  margin-right: 32px;
}

.navigation .login__icon{
  background: white;
  padding: 9px 10px 8px;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 16px;
}

.navigation .login__icon img{
  width: 20px;
  height: 20px;
}

.navigation .demo a{
  text-decoration: none;
}

.navigation .inner_login .fa-bars{
  display: none;
}

.mobile__navigation{
  display: none;
}

.hero__section{
  display: grid;
  margin: 64px;
  grid-template-columns: repeat(2, minmax(0,1fr));
  justify-content: center;
  align-items: center;
}

.hero__section .left__section h1{
  font-weight: 600;
  color : white;
  letter-spacing: 1px;
  margin-top: 64px;
  font-size: 52px;
}

.hero__section .left__section p{
  margin-top: 24px;
  margin-bottom: 64px;
  color : white;
  font-size: 17px;
  margin-right: 15%;
}

.hero__section .left__section a{
  display: inline-block;
  padding: 8px 16px;
  background: white;
  text-decoration: none;
  border-radius: 22px;
  box-shadow: 0px 20px 84px 8px rgba(0,0,0,0.36);
-webkit-box-shadow: 0px 20px 84px 8px rgba(0,0,0,0.36);
-moz-box-shadow: 0px 20px 84px 8px rgba(0,0,0,0.36);
margin-bottom: 64px;
color : #3DC7C7;
transition: 0.5s;
}

.hero__section .left__section a:hover{
  background: #3DC7C7;
  color : white;
}


.hero__section .right__section img{
  width: 100%;
}


.hero__section .right__section .shadow{
    height: 38px;
    width: 80%;
    box-shadow: 2px 24px 56px -10px rgba(0,0,0,0.41);
    -webkit-box-shadow: 2px 24px 56px -10px rgba(0,0,0,1);
    -moz-box-shadow: 2px 24px 56px -10px rgba(0,0,0,0.41);
    margin: auto;
    margin-top: -64px;
}


.down__arrows{
  text-align: center;
  padding-bottom: 16px;
}

.down__arrows img{
  width: 25px;
  animation: 2s updown infinite;
  transition: 0.5s
}

.roadmap{
  display: grid;
  grid-template-columns: repeat(2, minmax(0,1fr));
  grid-gap: 32px;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.roadmap .left__section {
  text-align: center;
}

.roadmap .left__section img{
  width: 50%;
}

.roadmap .right__section .sub-text{
  text-transform: capitalize;
}

.roadmap .heading{
  color : #3F98D0;
}

.roadmap .sub-text{
  margin-top: 16px;
  font-size: 15px;
}

/* .roadmap .inputs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
  margin-top: 24px;
  align-items: center;
} */

.roadmap .inputs input{
  padding: 12px;
  border-radius: 22px;
  border : 2px solid #A5D5E2;
  width: 90%;
}

.roadmap .inputs input:active , .roadmap .inputs input:focus{
  outline: 0;
}

.roadmap .inputs a{
  display: inline-block;
  padding: 12px;
  background: linear-gradient(to right , rgb(69,122,230) , rgb(76,216,192));
  color : white;
  text-decoration: none;
  border-radius: 24px;
  width: 70%;
  text-align: center;
}



/* .about__container{
  background: url('assets/about.png');
  background-size: cover;
} */

.about{
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  align-items: center;
  grid-gap: 16px;
  text-align: center;
  background: #EEEEEE;
  padding : 48px;
  position: relative;
  margin-bottom: 32px;
}

.about .heading h1{
  color : #3B9AD7;
  font-size: 32px;
}

.about .sub-text{
  color : #3B9AD7;
}

.about .content{
  margin: 15%;
  margin-top: 48px;
  margin-bottom: 32px;
  background: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 1px 5px 15px 4px rgba(0,0,0,0.12);
  -webkit-box-shadow: 1px 5px 15px 4px rgba(0,0,0,0.12);
  -moz-box-shadow: 1px 5px 15px 4px rgba(0,0,0,0.12);
}

.about .content .mark{
  text-align: right;
  margin-top: -40px;
}

.about .content .mark img{
  width: 70px;
}


.about .content .givenBy{
  text-align: right;
  margin-top: 16px;
}

.about .left__section{
  position: relative;
  z-index: 3;
}

.about .left__section .watchit a{
  display: inline-block;
  color : white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 22px;
  background-color: #3DC7C7;
  font-weight: 500;
  font-size: 18px;
  border : 1px solid transparent;
  transition: 0.5s;
}

.about .left__section .watchit a:hover{
  color : #3DC7C7;
  background: white;
  border : 1px solid #3DC7C7;
}

.about .right__section{
  position: relative;
  z-index: 3;
}


.about .right__section img{
  width: 70%;
  cursor: pointer;
  /* height: 20%; */
}

.about .right__section .shadow{
  height: 38px;
  width: 53%;
  box-shadow: 2px 24px 56px -10px rgba(0,0,0,0.41);
  -webkit-box-shadow: 2px 24px 56px -10px rgba(0,0,0,1);
  -moz-box-shadow: 2px 24px 56px -10px rgba(0,0,0,0.41);
  margin: auto;
  margin-top: -54px;
}

/* .about .right__section video{
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  top: 40px;
} */

.about__arrow__top{
  position: absolute;
  top: 0;
  left: 0;
  width: 18%;
}


.about__arrow__bottom{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 22%;
}



.pop__container{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50% ,-50%);
  background-color: white;
  border-radius: 20px;
  z-index: 5;
  box-shadow: 1px 5px 15px 4px rgba(0,0,0,0.12);
  -webkit-box-shadow: 1px 5px 15px 4px rgba(0,0,0,0.12);
  -moz-box-shadow: 1px 5px 15px 4px rgba(0,0,0,0.12);
  opacity: 0;
  visibility: hidden;



}

.pop__container i{
  cursor: pointer;
}

.pop__container.active{
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}

.pop__container .close{
  text-align: right;
  padding: 16px 16px 0 0;
}

.pop__container .video{
  padding: 32px;
  position: relative;
  text-align: center;
  padding-top: 8px;
}

.pop__container .video video{
  width: 100%;
  margin: auto;
  border-radius: 8px;
}

.pop__container .video video:active , .pop__container .video video:focus{
  border : 0;
  outline: 0;
}

.features{
  margin: 0 7%;
}


.feature{
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  grid-gap: 32px;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.feature .heading{
  color : #3B9AD7;
  margin: 0 16px;
}

.feature .description{
  font-size: 15px;
  margin: 32px 16px;
}

.feature .right__section {
  text-align: center;
}

.feature .right__section .heading{
  display: none;
}

/* .feature .right__section .image__container{
  background: url('assets/background.png');
  background-size: cover;
} */

.feature .right__section img{
  width: 70%;
}

.feature .right__section .gif img{
  width: 85%;
}

.feature .testimonial{
  border-radius: 8px;
  padding: 16px;
  box-shadow: 1px 5px 15px 4px rgba(0,0,0,0.12);
  -webkit-box-shadow: 1px 5px 15px 4px rgba(0,0,0,0.12);
  -moz-box-shadow: 1px 5px 15px 4px rgba(0,0,0,0.12);
}

.feature .testimonial .mark {
  text-align: right;
  margin-top: -36px;
}

.feature .testimonial .mark img{
  width: 60px;
}

.feature .testimonial p{
  font-size: 14px;
}

.feature .testimonial .givenBy{
  margin-top: 16px;
  font-size: 13px;
}

.feature .right__section .watchit{
  width: 100%;
  text-align: center;
  margin-top: 28px;
}

.feature .right__section .watchit a {
  display: inline-block;
  color : white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 22px;
  background-color: #3DC7C7;
  font-weight: 500;
  font-size: 13px;
  border : 1px solid transparent;
  transition: 0.5s;
}

.feature .right__section .watchit a:hover{

  color : #3DC7C7;
  background: white;
  border : 1px solid #3DC7C7;
}



.feature.reverse .left__section{
  grid-row: 1/2;
  grid-column: 2 / 3;
}

.feature.reverse .right__section{
  grid-column: 1 / 2;
}

.blog{
  padding: 32px;
  margin-top: 32px;
  background: linear-gradient(to bottom right , rgb(66,122,242), rgb(62,201,201));
}

.blog .heading{
  text-align: center;
  color : white;
}

.blog .posts {
  display: grid;
  grid-template-columns: repeat(3 , minmax(0,1fr));
  grid-gap: 32px;
  margin: 64px 10% 16px;
}

.blog .post{
  margin: 16px;
  background: white;
  border-radius: 20px;
}

.blog .post a{
  text-decoration: none;
  color : black;
}

.blog .post .thumbnail img{
  width: 100%;
  border-radius: 20px 20px 0 0;
}



.blog .post .title{
  padding: 16px;
}

.blog .post  .content{
  padding: 0 16px 16px;
  font-size: 15px;
  font-weight: 300;
}


.footer{
  margin-top: 64px;
  background: #427AF2;
}


.footer .upperHalf{
  padding: 32px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom : 1px solid white;
}

.footer .upperHalf .links{
  width: 30%;
}


.footer .upperHalf .links li{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer .copyright{
  padding: 32px;
  text-align: center;
  color : white;
}

@keyframes updown {
  0%{
    transform: translateY(0);
  }

  25%{
    transform: translateY(10px);
  }

  100%{
    transform: translateX(0);
  }
}



@media (max-width : 1100px) {

    .links {
      width: 40%;
    }

    .hero__section .left__section h1{
      font-size: 32px;
    }

    .roadmap .right__section .heading h1{
        font-size: 24px;
    }

    .about .content{
      margin: 7%;
    }

    .about .right__section img{
      width: 90%;
      height: 20%;
    }

    .about .right__section .shadow{
      width: 65%;
      margin-bottom: 32px
    }

    .about__arrow__top{
      position: absolute;
      top: 0;
      left: 0;
      width: 22%;
    }


    .about__arrow__bottom{
      position: absolute;
      bottom: 0;
      right: 0;
      width: 30%;
    }

    .pop__container{
      width: 80%;
    }

    .feature .heading h1{
      font-size: 24px;
    }

    .blog .posts{
      margin: 64px 5% 64px;
      grid-gap: 16px;
    }

    .footer .upperHalf .links{
      width: 40%;
    }
}

@media (max-width : 1023px) {

  .hero__section .left__section p{
    margin-right: 0;
  }

  .navigation .links{
    display: none;
  }

  .navigation .login .demo{
    display: none;
  }

  .navigation .inner_login{
    border : 0;
  }

  .navigation .inner_login .sign-up{
    display: none;
  }

  .navigation .inner_login .fa-bars{
    display: block;
    color : white;
    font-size: 24px;
    margin-left: 16px;
    margin-right: 8px;
    cursor: pointer;
  }

  .mobile__navigation{
    display: flex;
    justify-content: center;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
  }

  .mobile__navigation .dropdown{
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
  }

  .mobile__navigation .links{
    width: 80%;
  }

  .mobile__navigation .links ul{
    flex-direction: column;
    align-items: center;
  }

  .mobile__navigation .links ul li{
    margin-bottom: 16px;
  }



  .hero__section{
    grid-template-columns: repeat(1 , minmax(0,1fr));
    text-align: center;
    padding-bottom: 64px;
  }

  .hero__section .right__section img{
    width: 75%;
  }


  .hero__section .right__section .shadow{
    width: 62%;
    margin-top: -48px;
  }

  .roadmap{
    grid-template-columns: minmax(0,1fr);
    text-align: center;
  }

  .roadmap .left__section{
    grid-row: 2 / 3;
  }

  .roadmap .left__section img {
    width: 40%;
  }


  .roadmap .inputs{
    grid-template-columns: 1fr 1fr;
    margin: 24px 10% 0;
  }

  .roadmap .inputs a{
    grid-column: 1/3;
    align-self: center;
    margin: auto;
    width: 50%;
  }

  .about {
    grid-template-columns: minmax(0,1fr);
  }

  .about .left__section{
    grid-row: 2/3;
  }

  .about__arrow__top , .about__arrow__bottom{
    width: 32%;
  }

  .feature{
    grid-template-columns: minmax(0,1fr);
  }

  .feature .left__section .heading{
    display: none;
  }

  .feature.reverse .left__section{
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .feature .right__section{
    grid-row: 1/2;
  }

  .feature .right__section .heading{
    display: block;
    margin-bottom: 16px;
  }

  .blog .posts {
    grid-template-columns: minmax(0,1fr);
  }

  .blog .post {
    margin: 16px 10%;
  }

  .footer .upperHalf{
    flex-direction: column;
  }

  .footer .upperHalf .links li{
    flex-direction: column;
    align-items: center;
  }

  .footer .upperHalf .links li a{
      margin-bottom: 16px;
  }


}


@media (max-width : 525px) {
  .hero__section{
    margin: 16px;
    padding-bottom: 0;
  }

  .hero__section .right__section img{
    width: 100%;
  }

  .roadmap .left__section img{
    width: 75%;
  }

  .about{
    padding: 8px;
    padding-top: 64px;
  }

  .blog{
    padding: 8px;
  }


  .pop__container{
    width: 95%;

  }

  .pop__container .video{
    padding: 16px;
    padding-top:6px;
  }

  .about__arrow__top , .about__arrow__bottom{
    width: 45%;
  }



  .about .left__section .content p{
    font-size: 14px;
  }

  .about .right__section img{
    width: 95%;
  }

  .feature .right__section img {
    width: 95%;
  }

  .feature .right__section .gif img{
    width: 104%;
  }

  .blog .post {
    margin: 16px 0;
  }

}
